body {
  background-color: #f4f4f4;
}

.page-title {
  display: none;
}

.site-page {
  margin: 0 !important;
}

.page-masthead {
  margin: 0 !important;
}

/*****************************************************HEADER*************************************************/
.site-header-wrapper {
  background: #f8f8f8;
}

.site-header--desktop-logo-center .site-navigation {
  position: absolute;
  margin-right: 0;
  right: 15%;
}

.navmenu-link {
  color: #b1ae8c !important;
}

.icon-search {
  color: #b1ae8c;
}

.icon-bag {
  color: #b1ae8c;
}

.icon-account {
  color: #b1ae8c;
}

.navmenu-link.navmenu-link-active {
  font-weight: 600 !important;
}

.non_profit_container {
  display: none;
}

.non_profit {
  display: none;
}

.dark_owl {
  display: none;
}

.click_here {
  display: none;
}

.template-index .site-navigation {
  display: none;
}

@media (min-width: 1030px) {
  .non_profit_container {
    display: flex;
    align-items: center;
    position: absolute;
  }
  .non_profit {
    display: block;
    margin-right: 2px;
    padding: 10px 0;
    color: #b1ae8c;
  }
  .dark_owl {
    display: block;
    margin-right: 30px;
    height: 40px;
  }
  .click_here {
    display: block;
    color: #b1ae8c;
    text-decoration: underline;
  }
  .site-logo img {
    height: 170px !important;
    position: absolute;
    left: 45%;
  }
}
/*****************************************************HOMEPAGE*************************************************/
.search--section-homepage {
  border-radius: 300px 0 0 300px;
  margin-left: 100px;
}
.search--section-homepage .form-field.no-label {
  flex-direction: row-reverse;
}
.search--section-homepage .form-field-input.live-search-form-field {
  border: none;
  text-transform: uppercase;
}
.search--section-homepage .live-search-button {
  background: white;
  border: none;
  border-radius: 0;
}
.search--section-homepage .live-search-button:hover {
  background: white;
}
.search--section-homepage .live-search-form.form-fields-inline {
  border: 1px solid #A6A47D;
  border-radius: 25px;
  overflow: hidden;
}
.search--section-homepage svg {
  color: #A6A47D;
}
.search--section-homepage .home-section--title {
  font-size: 60px;
  text-align: left;
  font-weight: 100;
  width: 75%;
}
.search--section-homepage .home-section--title-container {
  margin-bottom: 0.625rem;
}
.search--section-homepage .search-section {
  margin-top: 150px;
}
.search--section-homepage .search-section-content {
  padding: 120px 0 !important;
}

.shopify-section.home-collection-1 .dynamic-collection-list--item.active.active-mobile {
  position: absolute;
  top: 0;
  right: 0;
  height: 500px;
}
.shopify-section.home-collection-1 .collection--item-image {
  position: absolute;
  right: 0;
}
.shopify-section.home-collection-1 img {
  width: auto;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.shopify-section.home-collection-1 .dynamic-collection-list--item-info {
  position: absolute;
  text-align: center;
  top: 250px;
  right: 5%;
  background: #424141;
  padding: 20px 70px;
}
.shopify-section.home-collection-1 .dynamic-collection-list--item-title {
  margin: 0;
  color: white;
}

.shopify-section.home-collection-2 {
  margin-top: 140px;
}
.shopify-section.home-collection-2 .dynamic-collection-list--container {
  padding: 0;
  margin: 0%;
  max-width: 100%;
  width: 100%;
}
.shopify-section.home-collection-2 .dynamic-collection-list--item.active.active-mobile {
  position: relative;
  width: 20%;
  height: 500px;
}
.shopify-section.home-collection-2 .dynamic-collection-list--item-info {
  position: absolute;
  right: 20%;
  bottom: 80px;
  background: #424141;
  padding: 20px 70px;
}
.shopify-section.home-collection-2 .dynamic-collection-list--item-title {
  margin: 0;
  color: white;
}
.shopify-section.home-collection-2 img {
  width: 500px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.shopify-section.home-collection-3 .dynamic-collection-list--container {
  padding: 0;
  margin: 0%;
  max-width: 100%;
  width: 100%;
}
.shopify-section.home-collection-3 .dynamic-collection-list--item.active.active-mobile {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 500px;
  width: 60%;
}
.shopify-section.home-collection-3 .dynamic-collection-list--item-info {
  position: absolute;
  left: 40%;
  bottom: 50px;
  background: #424141;
  padding: 20px 70px;
}
.shopify-section.home-collection-3 .dynamic-collection-list--item-title {
  margin: 0;
  color: white;
}
.shopify-section.home-collection-3 img {
  width: 1000px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 719px) {
  .search--section-homepage {
    margin-left: 20px;
  }
  .search--section-homepage .home-section--title {
    font-size: 20px;
  }
  .search--section-homepage .search-section-content {
    padding: 36px 0 !important;
  }
  .search--section-homepage .search-section {
    margin-top: 0;
  }
}
/*****************************************************STATE PAGE*************************************************/
.local-title {
  padding: 2.75rem 1.640625rem;
  padding-bottom: 0;
  text-align: center;
}
.local-title p {
  margin: 10px 0;
}
.local-title .local-artisians {
  margin: 0;
  font-size: 35px;
  font-weight: 100;
}
.local-title .feature-date {
  font-weight: 600;
}

.artist-img-with-text--section {
  width: 100%;
}
.artist-img-with-text--section .alt-img-with-text--text.position-middle.alignment-left {
  background-color: #F1EDEA;
}
.artist-img-with-text--section .alt-img-with-text--button.button-primary {
  padding: 0.875rem 6rem !important;
  border: solid 1px #A6A47D;
}
.artist-img-with-text--section .alt-img-with-text--button.button-primary:hover {
  color: white;
}
.artist-img-with-text--section .alt-img-with-text--content.image-top {
  width: 100%;
}

@media (min-width: 720px) {
  .artist-img-with-text--section .alt-img-with-text--text.position-middle.alignment-left {
    width: 100% !important;
    background-color: #F1EDEA;
    margin: 30px 0;
    padding: 70px;
  }
  .artist-img-with-text--section .alt-img-with-text--content.image-right {
    width: 100%;
  }
  .artist-img-with-text--section .text-content p {
    margin: 0;
  }
  .artist-img-with-text--section .alt-img-with-text--content .alt-img-with-text--text .text-content {
    margin: 0;
  }
  .local-title {
    text-align: left;
  }
  .local-title .local-artisians {
    font-size: 45px;
  }
}
.artist-logolist--section .logolist--item {
  width: auto;
  text-align: center;
  margin: 10px;
}
.artist-logolist--section .logolist--image {
  max-width: 100%;
  max-height: 200px;
  max-height: 200px;
  height: 160px;
}
.artist-logolist--section hr {
  border-top: 2px solid black;
  margin-top: 50PX;
  width: 70%;
}

a#artist-name {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #A6A47D;
  text-transform: uppercase;
}

@media (min-width: 720px) {
  .artist-logolist--section .logolist--inner {
    justify-content: space-evenly;
  }
  .artist-logolist--section .logolist--item {
    text-align: center;
  }
  .artist-logolist--section .logolist--image {
    max-height: 400px;
    width: 100%;
    max-width: 100%;
    height: 400px;
    margin-bottom: 40px;
  }
  a#artist-name {
    font-size: 30px;
  }
}
.artist-newsletter-section .dynamic-newsletter-content {
  align-items: flex-start;
}
.artist-newsletter-section .home-section--title {
  text-align: left;
  margin: 0;
  font-weight: 800;
}
.artist-newsletter-section p {
  font-size: 10px;
}
.artist-newsletter-section .newsletter {
  width: 100%;
  max-width: 100%;
}
.artist-newsletter-section #newsletter_email {
  background: transparent;
  border: none;
  border-bottom: 3px solid;
}
.artist-newsletter-section .form-field-title {
  font-size: 20.7px;
  font-weight: 800;
  font-family: "Optima nova";
  color: black;
  background-color: #f4f4f4;
}
.artist-newsletter-section .home-section--subheading {
  text-align: left;
}
.artist-newsletter-section .newsletter-submit {
  background: #f4f4f4;
  border: none;
  padding-left: 0;
}
.artist-newsletter-section .newsletter-submit:hover {
  background: #f4f4f4;
  border: none;
}
.artist-newsletter-section img {
  height: 40px;
  border: 1px solid #a6a47d;
  border-radius: 5px;
}
.artist-newsletter-section .form-fields-inline {
  align-items: center;
}
.artist-newsletter-section .home-section--title-container {
  margin-bottom: 2rem;
}

@media (max-width: 719px) {
  .artist-newsletter-section .home-section--title-container {
    margin-bottom: 10px;
  }
}
.featured-product-1-section {
  width: 50%;
  float: left;
}
.featured-product-1-section .featured-product--container {
  padding-right: 0;
}

.featured-product-2-section {
  width: 50%;
  float: right;
}
.featured-product-2-section .featured-product--container {
  padding-left: 0;
}

@media (min-width: 720px) {
  .featured-product-1-section {
    position: relative;
  }
  .featured-product-1-section .featured-product--container .product--outer {
    display: block;
  }
  .featured-product-1-section .featured-product--container {
    padding: 115px 0 115px 115px;
  }
  .featured-product-1-section .product-gallery {
    width: 100%;
  }
  .featured-product-1-section .product-main {
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin: 0;
  }
  .featured-product-1-section .featured-product--inner {
    padding: 0;
  }
  .featured-product-1-section .product-details {
    background-color: #424141;
    width: 100%;
    padding: 4% 0 4% 30%;
    text-align: left;
  }
  .featured-product-1-section .product-title {
    font-family: Twentieth Century, sans-serif;
    font-weight: 200;
    color: white;
    font-size: 14px;
  }
  .featured-product-1-section .product-vendor a {
    color: white;
    font-size: 14px;
    font-weight: 200;
  }
  .featured-product-1-section .product-gallery--navigation {
    display: none;
  }
  .featured-product-2-section {
    position: relative;
  }
  .featured-product-2-section .featured-product--container .product--outer {
    display: block;
  }
  .featured-product-2-section .featured-product--container {
    padding: 115px 115px 115px 0;
  }
  .featured-product-2-section .product-gallery {
    width: 100%;
  }
  .featured-product-2-section .product-main {
    position: absolute;
    bottom: 10%;
    left: 19%;
    margin: 0;
  }
  .featured-product-2-section .featured-product--inner {
    padding: 140px;
    background-color: #A6A47D;
  }
  .featured-product-2-section .product-details {
    border: 1px solid white;
    width: 100%;
    padding: 4% 0 4% 30%;
    text-align: left;
  }
  .featured-product-2-section .product-title {
    font-family: Twentieth Century, sans-serif;
    font-weight: 200;
    color: white;
    font-size: 14px;
  }
  .featured-product-2-section .product-vendor a {
    color: white;
    font-size: 14px;
    font-weight: 200;
  }
  .featured-product-2-section .product-gallery--navigation {
    display: none;
  }
  .featured-product-2-section .product-gallery--image-background {
    height: 600px;
    width: auto;
    height: 83.8%;
  }
}
/*****************************************************AboutUs*************************************************/
.About-img-with-text--section {
  position: relative;
  padding-bottom: 50px;
  background: white;
}
.About-img-with-text--section .alt-img-with-text--container {
  padding: 0;
  max-width: 100%;
  width: 100%;
}
.About-img-with-text--section .alt-img-with-text--text {
  z-index: 2;
}
.About-img-with-text--section .alt-img-with-text--image.image-desktop {
  border-radius: 200px 0 0 200px !important;
}
.About-img-with-text--section .alt-img-with-text--image.image-mobile {
  border-radius: 200px 0 0 200px !important;
  margin-left: 90px;
}
.About-img-with-text--section .button-primary {
  border: 1px solid black;
  padding: 0.875rem 4.375rem !important;
}
.About-img-with-text--section .button-primary:hover {
  color: white;
}
.About-img-with-text--section .heading.large {
  font-weight: 200 !important;
  font-size: 30px !important;
}
.About-img-with-text--section hr {
  display: none;
}

@media (max-width: 719px) {
  .About-img-with-text--section .about-shape {
    position: absolute;
    bottom: 70px;
  }
  .About-img-with-text--section .about-shape img {
    height: 310px;
  }
}
@media (min-width: 720px) {
  .About-img-with-text--section .alt-img-with-text--text {
    margin: 220px 0 0 200px;
  }
  .About-img-with-text--section .about-shape {
    position: absolute;
    top: 80px;
    bottom: 0;
  }
  .About-img-with-text--section .about-shape img {
    height: 400px;
  }
}
.team-grid--section {
  padding-bottom: 50px;
}
.team-grid--section p {
  font-weight: 100;
  opacity: 0.8;
}
.team-grid--section .team-pic-container {
  width: 50%;
}
.team-grid--section .team-pic-container img {
  opacity: 100;
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
  position: relative;
}
.team-grid--section .promo-block-grid--content-wrapper {
  position: relative;
  width: 50%;
}
.team-grid--section .promo-block-grid--content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.team-grid--section .promo-block-grid--text {
  max-width: 100% !important;
}
.team-grid--section .promo-block-grid--header {
  font-weight: 200;
  font-size: 30px;
  max-width: 100% !important;
}
.team-grid--section .home-section--title {
  font-weight: 200;
  font-size: 40px;
}
.team-grid--section hr {
  border-top: 2px solid black;
  width: 90%;
  margin-top: 0;
  margin-bottom: 30px;
}

@media (max-width: 719px) {
  .team-grid--section .team-pic-container {
    width: 50%;
  }
  .team-grid--section .team-pic-container img {
    height: 160px;
    width: 160px;
  }
}
@media (min-width: 720px) {
  .team-grid--section .promo-grid--container {
    padding-left: 150px;
    padding-right: 150px;
  }
}
.began-img-with-text--section {
  position: relative;
  padding-bottom: 50px;
  background: white;
}
.began-img-with-text--section .alt-img-with-text--container {
  padding: 0;
  max-width: 100%;
  width: 100%;
}
.began-img-with-text--section .alt-img-with-text--text {
  z-index: 2;
}
.began-img-with-text--section .alt-img-with-text--image.image-desktop {
  border-radius: 0 200px 200px 0 !important;
}
.began-img-with-text--section .alt-img-with-text--image.image-mobile {
  border-radius: 0 200px 200px 0 !important;
  margin-right: 90px;
}
.began-img-with-text--section .button-primary {
  border: 1px solid black;
  padding: 0.875rem 4.375rem !important;
}
.began-img-with-text--section .button-primary:hover {
  color: white;
}
.began-img-with-text--section .heading.large {
  font-weight: 200 !important;
  font-size: 30px !important;
}
.began-img-with-text--section hr {
  border-top: 2px solid black;
  width: 80%;
  margin-left: 0;
}

@media (min-width: 720px) {
  .began-img-with-text--section .alt-img-with-text--text {
    padding-left: 100px;
    padding-right: 100px;
  }
}
.began-img-with-text--section .alt-img-with-text--content.image-right {
  margin-top: 40px !important;
}
.began-img-with-text--section .alt-img-with-text--content.image-right .image-desktop {
  border-radius: 0 !important;
  margin: 40px;
}
.began-img-with-text--section .alt-img-with-text--content.image-right .image-mobile {
  border-radius: 0 !important;
  margin-right: 20px;
  margin-left: 20px;
}

.page-contact--section {
  position: relative;
  overflow: hidden;
}
.page-contact--section .page-content {
  background: white;
  padding: 30px !important;
  max-width: 800px;
  border-radius: 25px;
}
.page-contact--section .contact-image {
  position: absolute;
  z-index: -1;
  top: 0;
}
.page-contact--section .contact-image img {
  width: 100%;
}
.page-contact--section .form-fields-columns {
  align-items: flex-start;
  margin-bottom: 20px;
}
.page-contact--section .form-field--half {
  width: 97%;
}
.page-contact--section .form-field-input {
  border-radius: 0;
}
.page-contact--section .form-field {
  margin-top: 20px;
}
.page-contact--section .contact-form-button {
  text-transform: none;
  color: white;
  background-color: #a6a47d;
  padding: 0.875rem 6.375rem;
}

.site-main {
  padding-bottom: 0 !important;
}

@media (min-width: 720px) {
  .page-contact--section .page-content {
    padding: 30px 100px 30px 100px !important;
  }
}
/*****************************************************ACCOUNT*************************************************/
.template-register #shopify-section-static-basic-header {
  display: none;
}

.template-login #shopify-section-static-basic-header {
  display: none;
}

.white-owl {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 25%;
}
.white-owl img {
  width: 100%;
}

.right-side-container {
  width: 100%;
}
.right-side-container h2 {
  text-align: center;
}

.left-side-container {
  width: 100%;
  position: relative;
}

.owl {
  text-align: center;
}

.socials-create {
  text-align: center;
}
.socials-create img {
  margin: 0 3px;
}

.account-page {
  display: flex;
  align-items: center;
  margin: 0;
  flex-direction: column;
}

.account-page-content {
  width: 100% !important;
}

.account-image img {
  width: 100%;
}

.form-fields-columns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field-title {
  background: white;
}

.form-action-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-action--submit {
  margin-bottom: 18.75px;
  background-color: #A6A47D;
  color: white;
  font-weight: 800;
  border-radius: 25px;
}

.button-primary:not(.disabled):hover {
  background-color: #A6A47D;
  border: 1px solid #A6A47D;
}

.form-field-title {
  display: flex;
}
.form-field-title img {
  padding-right: 10px;
}

.account-page-content .form-field--half {
  width: 80%;
}
.account-page-content .form-field-input {
  border-radius: 25px;
  border: 1px solid #C5C5C5;
}

#account-type {
  border-radius: 25px;
  background: white;
  border: 1px solid #C5C5C5;
  width: 80%;
  padding: 0.9375rem 0.875rem 0.9375rem;
  margin-bottom: 1.171875rem;
  color: #5c5c5c;
}

.account-page-login #account-type {
  width: 100%;
}

@media (min-width: 720px) {
  .account-page {
    flex-direction: row;
  }
  .right-side-container {
    width: 50%;
  }
  .left-side-container {
    width: 50%;
  }
}
/*****************************************************FOOTER*************************************************/
.site-footer {
  background-color: white;
}

.site-footer svg {
  color: #b1ae8c;
}

.footer-logo img {
  height: 160px;
}

.site-footer-block-title {
  color: #b1ae8c;
}

.site-footer-block-title-subscribe {
  color: #b1ae8c;
  font-size: var(--font-size-footer-heading);
  font-weight: 500;
}

.subscribe_container .social-link-tiktok {
  display: none;
}
.subscribe_container .social-link-instagram {
  display: none;
}
.subscribe_container .social-link-facebook {
  display: none;
}

.follow_container .social-link-youtube {
  display: none;
}
.follow_container .social-link-rss {
  display: none;
}

@media screen and (min-width: 1024px) {
  .site-footer-blocks {
    justify-content: center;
  }
}
.site-footer-item.site-footer-information .site-footer-information__payment-icons-cross-border {
  display: none;
}
.site-footer-item.site-footer-information .navmenu.navmenu-depth-1 {
  display: none;
}
.site-footer-item.site-footer-information .site-footer-credits {
  text-align: center;
}/*# sourceMappingURL=gapstow.css.map */