

/******************** State Page ****/
.search--section-state {
  margin-top: 111px;
  .search-section-form {
    max-width: 1400px;
  }
  .live-search-button {
    display: none;
  }
  #realStateSearch,
  #fakeSearch {
    width: 100%!important;
  }
  .local-search-form #realStateSearch {
    display: none;
  }
  .site-search-form #fakeSearch {
    display: none;
  }
  #fakeSearch,
  .form-field .live-search-form-field {
    border: 4px solid #a6a47d;
    border-radius: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    height: auto;
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: 18px 50%;
    padding-left: 60px;
  }
  .live-search-form .form-field {
    display: block;
  }
  .live-search-form {
    input::-webkit-input-placeholder {/* Chrome/Opera/Safari/Edge */
      color: #818181;
      font-weight: 400;
      font-size: 20px;
    }
    
    input::-ms-input-placeholder { /* Microsoft Edge */
       color: #818181;
       font-weight: 400;
       font-size: 20px;
    }
    
    input:-ms-input-placeholder {/* IE 10+ */
      color: #818181;
      font-weight: 400;
      font-size: 20px;
    }
    
    input::-moz-placeholder {/* Firefox 19+ */
      opacity: 1; /*Firefox by default has an opacity object that usually is ideal to reset so it matches webkit*/
      color: #818181;
      font-weight: 400;
      font-size: 20px;
    }
    
    input:-moz-placeholder {/* Firefox 18- */
      opacity: 1; /*Firefox by default has an opacity object that usually is ideal to reset so it matches webkit*/
      color: #818181;
      font-weight: 400;
      font-size: 20px;
    }
    
    input::placeholder {
      color: #818181;
      font-weight: 400;
      font-size: 20px;
    }
    
  }
  .search-section {
    background-size: 60% 100%;
    background-position: 100% 50%;
    background-repeat: no-repeat;
  }
  .search-section-tabs {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .search-section-tab {
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    max-width: 300px;
    text-align: center;
    width: 33%;
    border-bottom: 3px solid #e1e3e5;
  }

  a.search-tab-link {
    font-size: 22px;
    cursor: pointer;
  }

  .search-section-tab.search-section-tab-active {
    border-bottom: 3px solid #008060;
  }
}
#shopify-section-template--16325388992727__1659448557c85b7e1a { /* ashton floating sections */
  clear: both;
}
/*************************************************/
/* collection featured products side-by-side */
.featured-product--section-side-by-side {
  .featured-product--container {
    max-width: none;
  }
  .product-side-by-side-wrapper {
    display: flex;
    @media (max-width: 719px) {
      flex-direction: column;
    }
  }
  .product-side-by-side {
    width: 50%;
    @media (max-width: 719px) {
      width: 100%;
    }
  }
  .product-side-by-side-inner {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 40px 17px;
    @media (max-width: 719px) {
      width: 100%;
      min-height: 80vw;
    }
  }
  .product-info {
    padding: 17px 40px;
    h3 {
      font-size: 12px;
      color: white;
      margin-top: 0;
      margin-bottom: 4px;
      a {
        color: white;
        text-decoration: none;
      }
    }
    p {
      font-size: 12px;
      color: white;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .product-side-by-side-1 {
    .product-side-by-side-inner {
      height: 100%;
    }
    .product-info {
      background: #424141;
    }
  }
  .product-side-by-side-2 {
    background: #a6a47d;
    .product-side-by-side-inner {
      display: block;
    }
    .product-info {
      border: 1px solid rgba(255,255,255,0.5);
      max-width: 340px;
      margin: 30px auto 0;
    }
    .product-side-by-side-inner {
      position: relative;
    }
  }
  .product-gallery-wrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 719px) {
      width: auto;
    }
  }
  .product-gallery-inner {
    width: auto;
    height: 500px;
    margin: auto;
    @media (min-width: 1400px) {
      width: 420px;
      height: 600px;
    }
    img {
      max-height: 500px;
    }
  }
  .product-gallery-arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    img {
      width: 55px;
    }
  }
  #prevArrow {
    left: 10px;
  }
  #nextArrow {
    right: 10px;
  }
  .slick-slide img {
    display: block;
    width: 100%;
    height: auto;
  }
}

/******************************************/
/********** homepage search form **********/
/******************************************/
.shopify-section.home-collection-1 {
  min-width: 1px;
  @media (max-width: 719px) {
    display: none;
  }
}

.search--section-homepage {
  @media (max-width: 719px) {
    margin-left: 20px;
  }
  .home-section--title-container {
    display: none;
    &.home-section--title-container-active {
      display: block;
    }
  }
  #stateCollectionDropdown {
    select {
      border: 1px solid #A6A47D;
      border-radius: 25px;
      overflow: hidden;
      width: 100%;
      height: 48px;
      padding-right: 30px;
      color: #000;
      padding-left: 62px;
      font-family: Slate,sans-serif;
      font-size: 15px;
      font-weight: 100;
      text-transform: uppercase;
    }
  }
  .tabbed-search-content {
    display: none;
    &.tabbed-search-content-active {
      display: block;
    }
  }
  .home-search-tab-link {
    cursor: pointer;
  }
  .home-section--title {
    @media (min-width: 719px) {
      font-size: 4.5vw;
    }
  }
  .search-section-content {
    margin-right: 310px;
    margin-left: 50px;
    @media (max-width: 719px) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  .search-section-form {
    max-width: none;
    padding-left: 10px;
    padding-right: 10px;
  }
  .home-section--title {
    width: auto;
  }
  .search-section-tabs {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 38px;
  }
  .search-tab {
    width: 300px;
    border-bottom: 1px solid #d1d3d5;
    text-align: center;
    padding-bottom: 15px;
    &.search-tab-active {
      border-color: #008060;
      border-width: 3px;
    }
  }
}